.header {
    background-color: white;
    /* margin-top: 50px; */
    padding: 0px 30px;
    top: 0;
    z-index: 1;
    position: relative;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.logo img {
    height: 120px;
    /* Adjust height as needed */
    width: auto;
    /* Maintain aspect ratio */
    margin-right: 20px;
    /* Optional: add some margin */
}

.navigation {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navigation a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 10px 12px;
    transition: background-color 0.3s ease;
}

.navigation a:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    margin: 0 20px;
    margin-right: 60px;
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

.search-bar input {
    flex-grow: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}

.login-list-services {
    margin-left: 20px;
    display: flex;
    gap: 20px;
}

.login-list-services button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

.login-list-services button:hover {
    background-color: #e0e0e0;
}

.list-services {
    background-color: #007bff;
    color: white;
    font-size: 18px;
}

.list-services:hover {
    background-color: #0056b3;
}