.how-it-works {
    text-align: center;
    padding: 40px 300px;
    position: relative;
}

.how-it-works h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.how-it-works p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.stepImage {
    height: 600px;
    width: 1100px;
    margin-left: -100px;
    margin-bottom: 50px;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.step1,
.step2,
.step3 {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}

.step1 {
    flex-direction: row;
    text-align: left;
}

.step2 {
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
}

.step3 {
    flex-direction: row;
    text-align: left;
}

.step1 img,
.step2 img,
.step3 img {
    width: 100px;
    height: 100px;
    margin: 0 20px;
}


.step1-info,
.step2-info,
.step3-info {
    flex: 1;
    max-width: 280px;
}

.step1-number,
.step2-number,
.step3-number {
    background-color: #2199EA;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.step1 h3,
.step2 h3,
.step3 h3 {
    font-size: 1.7rem;
    margin: 0;
}

.step1 p,
.step2 p,
.step3 p {
    font-size: 1.2rem;
}

.steps::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 68%;
    top: 10%;
    border-right: 2px dotted #007bff;
    z-index: -1;
    background: transparent;
}

@media (min-width: 768px) {
    .steps {
        flex-direction: column;
    }

    .step1,
    .step2,
    .step3 {
        flex-direction: row;
    }

    .step1 img,
    .step2 img,
    .step3 img {
        margin: 0 20px;
    }

    .step1-info,
    .step2-info,
    .step3-info {
        text-align: left;
    }

    .steps::before,
    .step1:not(:last-child)::after,
    .step2:not(:last-child)::after,
    .step3:not(:last-child)::after {
        display: block;
    }
}


.book-button {
    background-color: #2199EA;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    cursor: pointer;
    width: 220px;
    height: 50px;
    font-size: 1.2rem;
    /* Adjust the font size as needed */
    font-weight: bold;
    /* Make the font bold */
}