/* body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
} */

/* Example CSS */
body,
html,
#root,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.standard {
  padding: 0 130px;

}